body {
    background-color: #2300eb; /* لون داكن، غيره حسب رغبتك */
    color: white; /* عشان الكتابة تكون واضحة */
}
.container {
    max-width: 400px;
    margin: auto;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}

.board button {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border: 1px solid #333;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    font-size: 0;
}


.board button:hover {
    background-color: #ccc;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#reset-button:hover {
    background-color: #45a049;
}

#result-container {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
